/* ============================================================= 주요 공통 */
body {
    -ms-overflow-style: none;
    position: relative; margin: 0 auto;
    white-space: nowrap;
    scroll-behavior: smooth;
}   
body::-webkit-scrollbar {display: none;}
.pages {width: 100%; min-width: 1920px; height: 100vh;}
.pages .swiper-slide {padding: 40px 0; width: 100%; margin: 0 auto; overflow: hidden;}
.divider-title {font-size: 13rem; font-weight: 400; text-align: center;}
.meta {display: flex; gap: 22px; font-size: 0.88rem; margin-bottom: 100px;}
.meta .category {}
.meta .category p {font-weight: 500; line-height: 1.6;}
.meta .substance {}
.meta .substance p {line-height: 1.6;}
/* ============================================================= 내비 */
nav {
    padding: 25px 60px;
    position: fixed; top: 0; left: 0; z-index: 1000;
    width: 100%; display: flex;
    justify-content: space-between; align-items: center;
}
nav ul {display: flex;}
nav .primary {gap: 20px;}
nav .content {gap: 60px;}
nav .primary > li a {font-weight: 700;}
nav .content > li a {}
/* ============================================================= 표지 디자인 */
#cover {
    width: 100%; height: 100vh;
}
#cover .design {
    width: 100%; height: 100%;
    padding: 120px 60px 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
#cover .design .hero-title {display: flex; justify-content: space-between;}
#cover .design .hero-title h2 {font-size: 3rem; font-weight: 500;}
#cover .design p {text-align: center;}
#cover .design .marquee {
    white-space: nowrap;
    padding: 20px 0;
    display: flex;
}
#cover .design .marquee .line {
    display: flex;
    align-items: center;
    gap: 50px;
    width: max-content;
    animation: marquee 20s linear infinite;
}
#cover .design .marquee .line span {font-size: 1.25rem; letter-spacing: 0;}
#cover .design .marquee .line span:nth-child(1) {padding-left: 50px;}
#cover .design .marquee .line span img {width: 14px;}
@keyframes marquee {
    from {transform: translateX(100%);}
    to {transform: translateX(-100%);}
}
/* ============================================================= 소개 */
#resume {
    padding: 120px 120px 80px; display: flex; justify-content: space-between;
}
#resume .intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#resume .intro h1 {font-size: 4.2rem; line-height: 1.2; letter-spacing: -0.04em;}
#resume .intro h1 em {font-weight: 700;}
#resume .exp {
    display: flex; flex-direction: row;
    gap: 20px; margin-top: 60px;
}
#resume .exp > p {}
#resume .exp > p img {width: 20px;}
#resume .exp .txt {}
#resume .exp .txt > p {line-height: 1.6;}
#resume .exp .txt > p:nth-child(1) {margin-bottom: 24px;}
#resume .exp .txt > p .title {font-weight: 600;}
/* ============================================================= 오른쪽 이력서 */
#resume .right-wrap {display: flex; flex-direction: column; justify-content: space-between;}
#resume .basic-info {display: flex; gap: 80px; margin-bottom: 80px;}
#resume .basic-info dl {}
#resume .basic-info dl dt {margin-bottom: 10px;}
#resume .basic-info dl dd {font-weight: 600; font-size: 1.25rem; letter-spacing: 0;}
/* ============================================================= 스크롤 영역 */
#resume .list-wrap {
    height: 600px;
    position: relative; z-index: 1000; overflow-y: auto;
    display: flex; flex-direction: column; gap: 60px;
    cursor: grab; pointer-events: auto;
}
#resume .list-wrap:active {cursor: grabbing;}
#resume .list-wrap::-webkit-scrollbar {width: 8px; /* 스크롤바 너비 */}
#resume .list-wrap::-webkit-scrollbar-thumb {background: rgba(0, 0, 0, 0.3); border-radius: 50px;}
#resume .list-wrap::-webkit-scrollbar-track {background: rgba(0, 0, 0, 0.1);}
#resume .list {}
#resume .list h2 {
    font-size: 1rem; font-weight: 600;
    border-bottom: 1px solid #000000;
    padding-bottom: 6px; margin-bottom: 10px;
}
#resume .list p {
    margin-bottom: 20px;
    line-height: 140%;
}
#resume .list p span {font-size: 0.88rem;}
#resume .list p .date {color: #929292;}
/* ============================================================= 목차 */
#works {
    display: flex; flex-flow: row nowrap; 
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
}
#works > * {
    display: flex; flex-direction: row; gap: 16px;
    height: 600px;
    padding: 80px 0;
}
/* #works .mobile {border-left: 1px solid #000; border-right: 1px solid #000;} */
#works h2 {font-size: 4.2rem;}
#works .projects-list {display: flex; flex-direction: column; gap: 32px;}
#works .projects-list .title {padding-top: 30px; margin-bottom: 60px;}
#works .projects-list .title a {font-size: 2rem; font-weight: 600;}
#works .projects-list .title a img {width: 30px; margin-left: 12px;}
#works .projects-list li {font-size: 1rem; font-weight: 600; line-height: 1.2;}
#works .projects-list li span {font-size: 1rem;}
/* ============================================================= 웹 */
#prj-web {}
#prj-web .divider-title {}
#prj-web .work-wrap {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between; align-items: start;
}
#prj-web .work-wrap .container {
    width: calc((100% - 45px) / 4); padding: 30px 0 0;
    display: flex; flex-direction: column; justify-content: space-between;
}
#prj-web .work-wrap .container .txt-contents {padding: 0 30px;}
/* #prj-web .work-wrap .container .txt-contents .sub-title {margin-bottom: 6px; font-size: 0.88rem;} */
#prj-web .work-wrap .container .txt-contents h2 {font-size: 2rem; font-weight: 600; margin-bottom: 26px;}
#prj-web .work-wrap .container .txt-contents .noteworthy {margin-bottom: 26px;}
#prj-web .work-wrap .container .txt-contents .noteworthy h3 {
    font-size: 0.88rem; font-weight: 600;
    margin-bottom: 6px;
}
#prj-web .work-wrap .container .txt-contents .noteworthy > p {
    font-size: 0.88rem; line-height: 1.6;
    display: flex; gap: 5px; align-items: center;
}
#prj-web .work-wrap .container .txt-contents .noteworthy > p span {
    display: block;
    width: 5px; height: 5px;
    background-color: #000000;
    border-radius: 50%;
}
#prj-web .work-wrap .container .txt-contents .meta {margin-bottom: 60px;}
#prj-web .work-wrap .container .link {
    display: flex; justify-content: end;
    gap: 26px; margin-bottom: 8px; 
}
#prj-web .work-wrap .container .link a {font-weight: 600;}
#prj-web .work-wrap .container .link a img {width: 12px; margin-left: 8px;}
#prj-web .work-wrap .container .thumbnail {width: 100%; height: 273px; background-color: aquamarine;}
#prj-web .work-wrap .container .thumbnail img {width: 100%;}
/* ============================================================= 개별 백그라운드 */
.trip {background-color:aliceblue;}
.crowcanyon {background-color:cornsilk;}
.zigzag {background-color:rgb(255, 216, 242);}
.diptyque {background-color: rgb(198, 231, 198);}
/* ============================================================= 웹-트립큐 */
/* ============================================================= 웹-크로우캐년 */
/* ============================================================= 웹-지그재그 */
/* ============================================================= 웹-딥티크 */
/* ============================================================= 모바일 */
#prj-mobile {padding-top: 50px;}
#prj-mobile .divider-title {font-size: 6.2rem;}
#prj-mobile .work-wrap {display: flex; justify-content: space-between;}
#prj-mobile .work-wrap .container {width: calc((100% - 60px) / 2);}
#prj-mobile .work-wrap .container .explain {padding: 60px 60px 0;}
#prj-mobile .work-wrap .container .explain h3 {font-size: 1.5rem; font-weight: 500; margin-bottom: 5px;}
#prj-mobile .work-wrap .container .explain > p {line-height: 1.6; margin-bottom: 30px;}
#prj-mobile .work-wrap .container .explain .meta {margin-bottom: 30px;}
#prj-mobile .work-wrap .container .explain .meta .category {}
#prj-mobile .work-wrap .container .explain .meta .category p {}
#prj-mobile .work-wrap .container .explain .meta .substance {}
#prj-mobile .work-wrap .container .explain .meta .substance p {}
#prj-mobile .work-wrap .container .swiper {width: 100%; height: auto;}
#prj-mobile .work-wrap .container .swiper .swiper-wrapper {}
#prj-mobile .work-wrap .container .swiper .swiper-wrapper .swiper-slide {padding: 0;}
#prj-mobile .work-wrap .container .swiper .swiper-wrapper .swiper-slide img {width: 100%;}
#prj-mobile .work-wrap .monthly .mon-swiper .swiper-wrapper {transition-timing-function:linear;}
/* ============================================================= 비주얼디자인 */
#visual-design {}
#visual-design .divider-title {}
#visual-design .container {}
#visual-design .container .row {
    display: flex; flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 15px;
}
#visual-design .container .row p {
    width: calc((100% - 45px) / 4); height: 320px;
    display: flex; flex-direction: column;
    justify-content: space-between; gap: 6px;
    font-size: 0.88rem; text-align: center;
    cursor: pointer;
}
#visual-design .container .row p:nth-child(-n+4) {margin-bottom: 30px;}
#visual-design .container .row p img {
    width: 100%; height: 100%;
    object-fit: cover; overflow: hidden;
}

/* 팝업창 */
.popup-bg {
    position: fixed; left: 0; top: 0;
    width: 100%; height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: none; justify-content: center; align-items: center;
    z-index: 1000;
}
.popup-content {}
.popup-content img {width: 750px; max-width: 100%;}
/* ============================================================= 콘택트 */
.contact-page {}